ui/wm-project/cms_erlr_general_export/CMS/xsd_pool/BizFlowSchema-beans.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://beans.web.bf.hs.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd-beans="http://beans.web.bf.hs.com">
	<xsd:complexType name="HWException">
		<xsd:sequence>
			<xsd:element name="description" nillable="true" type="xsd:string" />
			<xsd:element name="message" nillable="true" type="xsd:string" />
			<xsd:element name="number" type="xsd:int" />
			<xsd:element name="source" nillable="true" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
