ui/wm-project/cms_erlr_general_export/CMS/xsd_pool/BizFlowSchema-elmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://element.je.wf.bf.hs.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd-elmt="http://element.je.wf.bf.hs.com" xmlns:xsd-je="http://je.wf.bf.hs.com">
	<xsd:import namespace="http://je.wf.bf.hs.com" schemaLocation="BizFlowSchema-je.xsd" />
	<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
	<xsd:complexType name="HWActivity">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="activityAuthority" type="xsd:int" />
					<xsd:element name="activityInfo" type="xsd:int" />
					<xsd:element name="activityLoopType" nillable="true" type="xsd:string" />
					<xsd:element name="archiveFolderId" type="xsd:int" />
					<xsd:element name="capacity" type="xsd:int" />
					<xsd:element name="caseType" nillable="true" type="xsd:string" />
					<xsd:element name="completeOption" nillable="true" type="xsd:string" />
					<xsd:element name="completionCount" type="xsd:int" />
					<xsd:element name="completionDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="cost" type="xsd:int" />
					<xsd:element name="deadline" type="xsd:int" />
					<xsd:element name="deadlineDTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="deadlineType" nillable="true" type="xsd:string" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="eventType" nillable="true" type="xsd:string" />
					<xsd:element name="existInfoFile" nillable="true" type="xsd:string" />
					<xsd:element name="instanceFolderId" type="xsd:int" />
					<xsd:element name="joinType" nillable="true" type="xsd:string" />
					<xsd:element name="mergeConditionDefSequence" type="xsd:int" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="planCompletionDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="planCompletionTime" type="xsd:int" />
					<xsd:element name="planStartDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="planStartTime" type="xsd:int" />
					<xsd:element name="postConditionSequence" type="xsd:int" />
					<xsd:element name="priority" type="xsd:int" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="processState" nillable="true" type="xsd:string" />
					<xsd:element name="routeBackOption" nillable="true" type="xsd:string" />
					<xsd:element name="sequence" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="splitConditionDefSequence" type="xsd:int" />
					<xsd:element name="startDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="subProcDefId" type="xsd:int" />
					<xsd:element name="subProcDefServerId" nillable="true" type="xsd:string" />
					<xsd:element name="subProcessType" nillable="true" type="xsd:string" />
					<xsd:element name="transitionType" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWApplication">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="activityAppSequence" type="xsd:int" />
					<xsd:element name="appDefinitionId" type="xsd:int" />
					<xsd:element name="completionCount" type="xsd:int" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="digitalSignature" nillable="true" type="xsd:string" />
					<xsd:element name="etcInfo" type="xsd:int" />
					<xsd:element name="extName" nillable="true" type="xsd:string" />
					<xsd:element name="initoption" nillable="true" type="xsd:string" />
					<xsd:element name="inrlvntDataSeq" type="xsd:int" />
					<xsd:element name="invokedMethod" nillable="true" type="xsd:string" />
					<xsd:element name="jobSequence" type="xsd:int" />
					<xsd:element name="mandatory" nillable="true" type="xsd:string" />
					<xsd:element name="mapId" type="xsd:int" />
					<xsd:element name="modificationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="outRlvntDataSeq" type="xsd:int" />
					<xsd:element name="participantId" nillable="true" type="xsd:string" />
					<xsd:element name="participantName" nillable="true" type="xsd:string" />
					<xsd:element name="processAppSequence" type="xsd:int" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="updatable" nillable="true" type="xsd:string" />
					<xsd:element name="workItemAppSequence" type="xsd:int" />
					<xsd:element name="workItemSequence" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWAttachment">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="activityName" nillable="true" type="xsd:string" />
					<xsd:element name="activitySequence" type="xsd:int" />
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creator" nillable="true" type="xsd:string" />
					<xsd:element name="creatorName" nillable="true" type="xsd:string" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="digitalSignature" nillable="true" type="xsd:string" />
					<xsd:element name="displayName" nillable="true" type="xsd:string" />
					<xsd:element name="dmDocKind" nillable="true" type="xsd:string" />
					<xsd:element name="dmDocRType" nillable="true" type="xsd:string" />
					<xsd:element name="dmDocumentId" nillable="true" type="xsd:string" />
					<xsd:element name="dmServerId" nillable="true" type="xsd:string" />
					<xsd:element name="fileName" nillable="true" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="inType" nillable="true" type="xsd:string" />
					<xsd:element name="mapId" type="xsd:int" />
					<xsd:element name="outType" nillable="true" type="xsd:string" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="size" type="xsd:int" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWAuthorityGroup">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="alias" nillable="true" type="xsd:string" />
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creatorId" nillable="true" type="xsd:string" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="id" nillable="true" type="xsd:string" />
					<xsd:element name="inheritGroupId" nillable="true" type="xsd:string" />
					<xsd:element name="inheritGroupName" nillable="true" type="xsd:string" />
					<xsd:element name="inheritGroupPath" nillable="true" type="xsd:string" />
					<xsd:element name="licenseId" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="projectId" type="xsd:int" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="userInformation" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWCalDayInfo">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="dayOfWeek" nillable="true" type="xsd:string" />
					<xsd:element name="dayType" nillable="true" type="xsd:string" />
					<xsd:element name="daylightSavingTimeId" type="xsd:int" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="endWorkTime1" type="xsd:int" />
					<xsd:element name="endWorkTime2" type="xsd:int" />
					<xsd:element name="endWorkTime3" type="xsd:int" />
					<xsd:element name="endWorkTime4" type="xsd:int" />
					<xsd:element name="endWorkTime5" type="xsd:int" />
					<xsd:element name="isDefault" type="xsd:boolean" />
					<xsd:element name="memberId" nillable="true" type="xsd:string" />
					<xsd:element name="startWorkTime1" type="xsd:int" />
					<xsd:element name="startWorkTime2" type="xsd:int" />
					<xsd:element name="startWorkTime3" type="xsd:int" />
					<xsd:element name="startWorkTime4" type="xsd:int" />
					<xsd:element name="startWorkTime5" type="xsd:int" />
					<xsd:element name="timeDiff" type="xsd:int" />
					<xsd:element name="timezoneId" type="xsd:int" />
					<xsd:element name="timezoneSign" nillable="true" type="xsd:string" />
					<xsd:element name="totalDayWorkingTime" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWComment">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="activityName" nillable="true" type="xsd:string" />
					<xsd:element name="contents" nillable="true" type="xsd:string" />
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creatorId" nillable="true" type="xsd:string" />
					<xsd:element name="creatorName" nillable="true" type="xsd:string" />
					<xsd:element name="deptName" nillable="true" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="inType" nillable="true" type="xsd:string" />
					<xsd:element name="jobTitle" nillable="true" type="xsd:string" />
					<xsd:element name="outType" nillable="true" type="xsd:string" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="workItemSequence" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWCustomAttribute">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="information" type="xsd:int" />
					<xsd:element name="mdItemSequence" type="xsd:int" />
					<xsd:element name="mdTemplateId" type="xsd:int" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="objectSequence" type="xsd:int" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="sequence" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="subType" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="value" nillable="true" type="xsd:string" />
					<xsd:element name="valueType" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWCustomAttributeDefinition">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="information" type="xsd:int" />
					<xsd:element name="mdItemSequence" type="xsd:int" />
					<xsd:element name="mdTemplateId" type="xsd:int" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="objectSequence" type="xsd:int" />
					<xsd:element name="processDefinitionId" type="xsd:int" />
					<xsd:element name="sequence" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="subType" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="value" nillable="true" type="xsd:string" />
					<xsd:element name="valueType" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWDependencyItem">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="applicationType" nillable="true" type="xsd:string" />
					<xsd:element name="auth" type="xsd:int" />
					<xsd:element name="count" type="xsd:int" />
					<xsd:element name="etcInfo" type="xsd:int" />
					<xsd:element name="folderId" type="xsd:int" />
					<xsd:element name="folderPath" nillable="true" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="modifyStatus" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="parentId" type="xsd:int" />
					<xsd:element name="prePublishableId" type="xsd:int" />
					<xsd:element name="projectId" type="xsd:int" />
					<xsd:element name="publishFolderId" type="xsd:int" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="version" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWExtServer">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="anonymousFlag" nillable="true" type="xsd:string" />
					<xsd:element name="connectionPoolCount" type="xsd:int" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="guid" nillable="true" type="xsd:string" />
					<xsd:element name="ipAddress" nillable="true" type="xsd:string" />
					<xsd:element name="loginId" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="password" nillable="true" type="xsd:string" />
					<xsd:element name="port" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="serviceType" nillable="true" type="xsd:string" />
					<xsd:element name="sslFlag" nillable="true" type="xsd:string" />
					<xsd:element name="ssoFlag" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="url" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWFolder">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="authority" type="xsd:int" />
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creatorId" nillable="true" type="xsd:string" />
					<xsd:element name="creatorName" nillable="true" type="xsd:string" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="inheritType" nillable="true" type="xsd:string" />
					<xsd:element name="isPublic" type="xsd:boolean" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="parentId" type="xsd:int" />
					<xsd:element name="projectId" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="version" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWGlobalVariableHistory">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="displayValue" nillable="true" type="xsd:string" />
					<xsd:element name="folderId" type="xsd:int" />
					<xsd:element name="grlvntDataId" type="xsd:int" />
					<xsd:element name="modifier" nillable="true" type="xsd:string" />
					<xsd:element name="modifierName" nillable="true" type="xsd:string" />
					<xsd:element name="modifyDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="processName" nillable="true" type="xsd:string" />
					<xsd:element name="sequence" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="value" nillable="true" type="xsd:string" />
					<xsd:element name="valueType" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWGroupParticipant">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="absenceEndDTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="absenceStartDTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="deptId" nillable="true" type="xsd:string" />
					<xsd:element name="deptName" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="groupName" nillable="true" type="xsd:string" />
					<xsd:element name="isAbsent" type="xsd:boolean" />
					<xsd:element name="jobTitleName" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="participantId" nillable="true" type="xsd:string" />
					<xsd:element name="prtcpState" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="usergroupId" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWJobTitle">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="jobTitleId" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWOrgUnit">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="checkOutUserId" nillable="true" type="xsd:string" />
					<xsd:element name="checkOutUserName" nillable="true" type="xsd:string" />
					<xsd:element name="deptCode" nillable="true" type="xsd:string" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="dn" nillable="true" type="xsd:string" />
					<xsd:element name="id" nillable="true" type="xsd:string" />
					<xsd:element name="inheritType" nillable="true" type="xsd:string" />
					<xsd:element name="managerId" nillable="true" type="xsd:string" />
					<xsd:element name="managerName" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="parentDeptId" nillable="true" type="xsd:string" />
					<xsd:element name="shortName" nillable="true" type="xsd:string" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWParticipant">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="activitySequence" type="xsd:int" />
					<xsd:element name="assignRule" nillable="true" type="xsd:string" />
					<xsd:element name="deptName" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="existScriptFile" nillable="true" type="xsd:string" />
					<xsd:element name="expression" nillable="true" type="xsd:string" />
					<xsd:element name="jobTitleName" nillable="true" type="xsd:string" />
					<xsd:element name="kind" nillable="true" type="xsd:string" />
					<xsd:element name="mapId" type="xsd:int" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="participantAuthority" type="xsd:int" />
					<xsd:element name="participantId" nillable="true" type="xsd:string" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="sequence" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
					<xsd:element name="useFlag" nillable="true" type="xsd:string" />
					<xsd:element name="userGroupHId" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWProcess">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="archiveFolderId" type="xsd:int" />
					<xsd:element name="archiveFolderName" nillable="true" type="xsd:string" />
					<xsd:element name="attachmentCount" type="xsd:int" />
					<xsd:element name="checkOutUserId" nillable="true" type="xsd:string" />
					<xsd:element name="commentCount" type="xsd:int" />
					<xsd:element name="completionDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="customId" nillable="true" type="xsd:string" />
					<xsd:element name="deadline" type="xsd:int" />
					<xsd:element name="deadlineDTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="deadlineType" nillable="true" type="xsd:string" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="dmFolderId" nillable="true" type="xsd:string" />
					<xsd:element name="dmIdType" nillable="true" type="xsd:string" />
					<xsd:element name="dmSaveFlag" nillable="true" type="xsd:string" />
					<xsd:element name="dmServerId" nillable="true" type="xsd:string" />
					<xsd:element name="folderId" type="xsd:int" />
					<xsd:element name="folderName" nillable="true" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="initiatorId" nillable="true" type="xsd:string" />
					<xsd:element name="initiatorName" nillable="true" type="xsd:string" />
					<xsd:element name="modificationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="modifier" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="passwordFlag" nillable="true" type="xsd:string" />
					<xsd:element name="procDefServerId" nillable="true" type="xsd:string" />
					<xsd:element name="processDefinitionId" type="xsd:int" />
					<xsd:element name="processDefinitionName" nillable="true" type="xsd:string" />
					<xsd:element name="revisionId" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="subProcessType" nillable="true" type="xsd:string" />
					<xsd:element name="totalCnt" type="xsd:int" />
					<xsd:element name="urgency" nillable="true" type="xsd:string" />
					<xsd:element name="version" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWProcessDefinition">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="archiveFolderId" type="xsd:int" />
					<xsd:element name="archiveFolderName" nillable="true" type="xsd:string" />
					<xsd:element name="checkOutUser" nillable="true" type="xsd:string" />
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creator" nillable="true" type="xsd:string" />
					<xsd:element name="creatorDeptName" nillable="true" type="xsd:string" />
					<xsd:element name="creatorName" nillable="true" type="xsd:string" />
					<xsd:element name="deadline" type="xsd:int" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="digitalSignature" nillable="true" type="xsd:string" />
					<xsd:element name="dmFolderId" nillable="true" type="xsd:string" />
					<xsd:element name="dmIdType" nillable="true" type="xsd:string" />
					<xsd:element name="dmSaveFlag" nillable="true" type="xsd:string" />
					<xsd:element name="dmServerId" nillable="true" type="xsd:string" />
					<xsd:element name="environmentType" nillable="true" type="xsd:string" />
					<xsd:element name="folderId" type="xsd:int" />
					<xsd:element name="folderServerId" nillable="true" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="instanceFolderId" type="xsd:int" />
					<xsd:element name="instanceFolderName" nillable="true" type="xsd:string" />
					<xsd:element name="isFinal" type="xsd:boolean" />
					<xsd:element name="modificationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="modifier" nillable="true" type="xsd:string" />
					<xsd:element name="modifierName" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="passwordFlag" nillable="true" type="xsd:string" />
					<xsd:element name="previousId" type="xsd:int" />
					<xsd:element name="processAuthority" type="xsd:int" />
					<xsd:element name="projectFolderId" type="xsd:int" />
					<xsd:element name="projectName" nillable="true" type="xsd:string" />
					<xsd:element name="publicationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="publicationState" nillable="true" type="xsd:string" />
					<xsd:element name="publisherName" nillable="true" type="xsd:string" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="subProcessType" nillable="true" type="xsd:string" />
					<xsd:element name="version" type="xsd:int" />
					<xsd:element name="folderPath" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWProcessVariable">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="displayValue" nillable="true" type="xsd:string" />
					<xsd:element name="existDataFile" nillable="true" type="xsd:string" />
					<xsd:element name="isPublic" type="xsd:boolean" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="scope" nillable="true" type="xsd:string" />
					<xsd:element name="sequence" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="value" nillable="true" type="xsd:string" />
					<xsd:element name="valueType" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWResponse">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="responseGroupId" type="xsd:int" />
					<xsd:element name="responseInformation" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWSign">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creatorId" nillable="true" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="mapId" type="xsd:int" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWUser">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="absenceEndTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="absenceMessage" nillable="true" type="xsd:string" />
					<xsd:element name="absenceStartTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="absenceSurrogater" nillable="true" type="xsd:string" />
					<xsd:element name="alias" nillable="true" type="xsd:string" />
					<xsd:element name="changePasswd" nillable="true" type="xsd:string" />
					<xsd:element name="customA" nillable="true" type="xsd:string" />
					<xsd:element name="customB" nillable="true" type="xsd:string" />
					<xsd:element name="customC" nillable="true" type="xsd:string" />
					<xsd:element name="customD" nillable="true" type="xsd:string" />
					<xsd:element name="customE" nillable="true" type="xsd:string" />
					<xsd:element name="deptId" nillable="true" type="xsd:string" />
					<xsd:element name="deptManagerId" nillable="true" type="xsd:string" />
					<xsd:element name="deptName" nillable="true" type="xsd:string" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="dn" nillable="true" type="xsd:string" />
					<xsd:element name="email" nillable="true" type="xsd:string" />
					<xsd:element name="employeeNumber" nillable="true" type="xsd:string" />
					<xsd:element name="formStyle" type="xsd:int" />
					<xsd:element name="guid" nillable="true" type="xsd:string" />
					<xsd:element name="id" nillable="true" type="xsd:string" />
					<xsd:element name="inheritType" nillable="true" type="xsd:string" />
					<xsd:element name="isAbsent" type="xsd:boolean" />
					<xsd:element name="jobTitleId" nillable="true" type="xsd:string" />
					<xsd:element name="jobTitleIdA" nillable="true" type="xsd:string" />
					<xsd:element name="jobTitleIdB" nillable="true" type="xsd:string" />
					<xsd:element name="jobTitleName" nillable="true" type="xsd:string" />
					<xsd:element name="jobTitleNameA" nillable="true" type="xsd:string" />
					<xsd:element name="jobTitleNameB" nillable="true" type="xsd:string" />
					<xsd:element name="licenseType" nillable="true" type="xsd:string" />
					<xsd:element name="loginId" nillable="true" type="xsd:string" />
					<xsd:element name="managerId" nillable="true" type="xsd:string" />
					<xsd:element name="managerName" nillable="true" type="xsd:string" />
					<xsd:element name="memberInfoId" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="passwdFailCount" type="xsd:int" />
					<xsd:element name="password" nillable="true" type="xsd:string" />
					<xsd:element name="passwordDTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="shortName" nillable="true" type="xsd:string" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWUserGroup">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="alias" nillable="true" type="xsd:string" />
					<xsd:element name="checkOutUserId" nillable="true" type="xsd:string" />
					<xsd:element name="checkOutUserName" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="groupPath" nillable="true" type="xsd:string" />
					<xsd:element name="hierarchyId" nillable="true" type="xsd:string" />
					<xsd:element name="id" nillable="true" type="xsd:string" />
					<xsd:element name="inheritType" nillable="true" type="xsd:string" />
					<xsd:element name="managerId" nillable="true" type="xsd:string" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="parentId" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWUserGroupHierarchy">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="checkOutType" nillable="true" type="xsd:string" />
					<xsd:element name="checkOutUserId" nillable="true" type="xsd:string" />
					<xsd:element name="checkOutUserName" nillable="true" type="xsd:string" />
					<xsd:element name="dispOrder" type="xsd:int" />
					<xsd:element name="dupNameFlag" nillable="true" type="xsd:string" />
					<xsd:element name="dupUsrFlag" nillable="true" type="xsd:string" />
					<xsd:element name="id" nillable="true" type="xsd:string" />
					<xsd:element name="managerRule" type="xsd:int" />
					<xsd:element name="name" nillable="true" type="xsd:string" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="type" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWUserSign">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="extName" nillable="true" type="xsd:string" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="memberId" nillable="true" type="xsd:string" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HWWorkitem">
		<xsd:complexContent>
			<xsd:extension base="xsd-je:HWElement">
				<xsd:sequence>
					<xsd:element name="activityAuthority" type="xsd:int" />
					<xsd:element name="activityDeadline" type="xsd:int" />
					<xsd:element name="activityDeadlineType" nillable="true" type="xsd:string" />
					<xsd:element name="activityDefinitionServerId" nillable="true" type="xsd:string" />
					<xsd:element name="activityInfo" type="xsd:int" />
					<xsd:element name="activityName" nillable="true" type="xsd:string" />
					<xsd:element name="activityPriority" type="xsd:int" />
					<xsd:element name="activityResponseId" type="xsd:int" />
					<xsd:element name="activitySequence" type="xsd:int" />
					<xsd:element name="activityState" nillable="true" type="xsd:string" />
					<xsd:element name="activityType" nillable="true" type="xsd:string" />
					<xsd:element name="archiveFolderId" type="xsd:int" />
					<xsd:element name="attachmentAddCount" type="xsd:int" />
					<xsd:element name="completeUserId" nillable="true" type="xsd:string" />
					<xsd:element name="completeUserName" nillable="true" type="xsd:string" />
					<xsd:element name="completionCount" type="xsd:int" />
					<xsd:element name="completionDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="creationDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="customId" nillable="true" type="xsd:string" />
					<xsd:element name="deadline" type="xsd:int" />
					<xsd:element name="deadlineDTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="description" nillable="true" type="xsd:string" />
					<xsd:element name="existInfoFile" nillable="true" type="xsd:string" />
					<xsd:element name="initiatorId" nillable="true" type="xsd:string" />
					<xsd:element name="initiatorName" nillable="true" type="xsd:string" />
					<xsd:element name="instanceFolderId" type="xsd:int" />
					<xsd:element name="isRepsign" type="xsd:boolean" />
					<xsd:element name="isSurrogater" type="xsd:boolean" />
					<xsd:element name="onAsync" nillable="true" type="xsd:string" />
					<xsd:element name="participant" nillable="true" type="xsd:string" />
					<xsd:element name="participantName" nillable="true" type="xsd:string" />
					<xsd:element name="participantType" nillable="true" type="xsd:string" />
					<xsd:element name="passwordFlag" nillable="true" type="xsd:string" />
					<xsd:element name="priority" type="xsd:int" />
					<xsd:element name="procDefServerId" nillable="true" type="xsd:string" />
					<xsd:element name="processAttachmentCount" type="xsd:int" />
					<xsd:element name="processCommentCount" type="xsd:int" />
					<xsd:element name="processDeadlineDTime" nillable="true" type="xsd:dateTime" />
					<xsd:element name="processDefinitionId" type="xsd:int" />
					<xsd:element name="processDescription" nillable="true" type="xsd:string" />
					<xsd:element name="processId" type="xsd:int" />
					<xsd:element name="processName" nillable="true" type="xsd:string" />
					<xsd:element name="processState" nillable="true" type="xsd:string" />
					<xsd:element name="processUrgency" nillable="true" type="xsd:string" />
					<xsd:element name="responseGroupId" type="xsd:int" />
					<xsd:element name="responseId" type="xsd:int" />
					<xsd:element name="sequence" type="xsd:int" />
					<xsd:element name="serverId" nillable="true" type="xsd:string" />
					<xsd:element name="startDate" nillable="true" type="xsd:dateTime" />
					<xsd:element name="state" nillable="true" type="xsd:string" />
					<xsd:element name="subProcDefId" type="xsd:int" />
					<xsd:element name="subProcDefServerId" nillable="true" type="xsd:string" />
					<xsd:element name="subProcessType" nillable="true" type="xsd:string" />
					<xsd:element name="urgency" nillable="true" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
