ui/wm-project/cms_erlr_general_export/CMS/xsd_pool/HWApplicationsBinding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://handysoft.com/webservice/HWApplications" xmlns:impl="http://handysoft.com/webservice/HWApplications" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://handysoft.com/webservice/ServiceConstructor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd-comp="http://handysoft.com/webservice/BizFlowSchema" xmlns:xsd-jo="http://jo.wf.bf.hs.com" xmlns:xsd-svc-elmt="http://element.service.je.wf.bf.hs.com">
	<wsdl:import location="BizFlowSchema-comp.xsd" namespace="http://handysoft.com/webservice/BizFlowSchema" />
	<wsdl:import location="BizFlowSchema-jo.xsd" namespace="http://jo.wf.bf.hs.com" />
	<wsdl:import location="BizFlowSchema-je.xsd" namespace="http://je.wf.bf.hs.com" />
	<wsdl:import location="BizFlowSchema-svc-elmt.xsd" namespace="http://element.service.je.wf.bf.hs.com" />
	<wsdl:types>
		<schema targetNamespace="http://handysoft.com/webservice/ServiceConstructor" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="HWApplicationsServiceConstructor">
				<sequence>
					<element name="sessionInfoXML" type="xsd:string" />
					<element name="serverId" type="xsd:string" />
					<element name="processId" type="xsd:int" />
					<element name="activitySequence" type="xsd:int" />
					<element name="workitemSequence" type="xsd:int" />
					<element name="archive" type="xsd:boolean" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="HWApplicationsServiceConstructor">
		<wsdl:part name="serviceConstructor" type="tns:HWApplicationsServiceConstructor" />
	</wsdl:message>
	<wsdl:message name="HWException">
		<wsdl:part element="xsd-jo:HWException" name="fault" />
	</wsdl:message>
	<wsdl:message name="getApplicationsRequest">
	</wsdl:message>
	<wsdl:message name="getApplicationFileResponse">
		<wsdl:part name="getApplicationFileReturn" type="xsd-svc-elmt:HWApplicationFile" />
	</wsdl:message>
	<wsdl:message name="getApplicationsResponse">
		<wsdl:part name="getApplicationsReturn" type="xsd-comp:ArrayOf_HWApplication" />
	</wsdl:message>
	<wsdl:message name="getApplicationFilesRequest">
		<wsdl:part name="readOnly" type="xsd:boolean" />
		<wsdl:part name="forceCheckOut" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="getApplicationFileRequest">
		<wsdl:part name="workItemAppSequence" type="xsd:int" />
		<wsdl:part name="readOnly" type="xsd:boolean" />
		<wsdl:part name="forceCheckOut" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="getApplicationFilesResponse">
		<wsdl:part name="getApplicationFilesReturn" type="xsd-comp:ArrayOf_HWApplicationFile" />
	</wsdl:message>
	<wsdl:portType name="HWApplications">
		<wsdl:operation name="getApplications">
			<wsdl:input message="impl:getApplicationsRequest" name="getApplicationsRequest" />
			<wsdl:output message="impl:getApplicationsResponse" name="getApplicationsResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getApplicationFile" parameterOrder="workItemAppSequence readOnly forceCheckOut">
			<wsdl:input message="impl:getApplicationFileRequest" name="getApplicationFileRequest" />
			<wsdl:output message="impl:getApplicationFileResponse" name="getApplicationFileResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getApplicationFiles" parameterOrder="readOnly forceCheckOut">
			<wsdl:input message="impl:getApplicationFilesRequest" name="getApplicationFilesRequest" />
			<wsdl:output message="impl:getApplicationFilesResponse" name="getApplicationFilesResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HWApplicationsService" type="impl:HWApplications">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getApplications">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getApplicationsRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWApplicationsServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getApplicationsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWApplications" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getApplicationFile">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getApplicationFileRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWApplicationsServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getApplicationFileResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWApplications" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getApplicationFiles">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getApplicationFilesRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWApplicationsServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getApplicationFilesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWApplications" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
