ui/wm-project/cms_erlr_general_export/CMS/xsd_pool/HWProcessDefinitionBinding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://handysoft.com/webservice/HWProcessDefinition" xmlns:impl="http://handysoft.com/webservice/HWProcessDefinition" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://handysoft.com/webservice/ServiceConstructor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd-comp="http://handysoft.com/webservice/BizFlowSchema" xmlns:xsd-elmt="http://element.je.wf.bf.hs.com" xmlns:xsd-jo="http://jo.wf.bf.hs.com">
	<wsdl:import location="BizFlowSchema-comp.xsd" namespace="http://handysoft.com/webservice/BizFlowSchema" />
	<wsdl:import location="BizFlowSchema-jo.xsd" namespace="http://jo.wf.bf.hs.com" />
	<wsdl:import location="BizFlowSchema-elmt.xsd" namespace="http://element.je.wf.bf.hs.com" />
	<wsdl:types>
		<schema targetNamespace="http://handysoft.com/webservice/ServiceConstructor" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="HWProcessDefinitionServiceConstructor">
				<sequence>
					<element name="sessionInfoXML" type="xsd:string" />
					<element name="serverId" type="xsd:string" />
					<element name="processDefinitionId" type="xsd:int" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="HWProcessDefinitionServiceConstructor">
		<wsdl:part name="serviceConstructor" type="tns:HWProcessDefinitionServiceConstructor" />
	</wsdl:message>
	<wsdl:message name="getProcessVariablesResponse">
		<wsdl:part name="getProcessVariablesReturn" type="xsd-comp:ArrayOf_HWProcessVariable" />
	</wsdl:message>
	<wsdl:message name="copyRequest">
		<wsdl:part name="targetFolderID" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="suspendResponse">
	</wsdl:message>
	<wsdl:message name="getProcessDefinitionRequest">
	</wsdl:message>
	<wsdl:message name="moveResponse">
	</wsdl:message>
	<wsdl:message name="resumeRequest">
	</wsdl:message>
	<wsdl:message name="setPublicationStateResponse">
	</wsdl:message>
	<wsdl:message name="getProcessInstanceCountRequest">
	</wsdl:message>
	<wsdl:message name="createInstanceRequest1">
		<wsdl:part name="name" type="xsd:string" />
		<wsdl:part name="description" type="xsd:string" />
		<wsdl:part name="isUrgent" type="xsd:boolean" />
		<wsdl:part name="isStartProcess" type="xsd:boolean" />
		<wsdl:part name="needWorkitem" type="xsd:boolean" />
		<wsdl:part name="instanceFolderID" type="xsd:int" />
		<wsdl:part name="archiveFolderID" type="xsd:int" />
		<wsdl:part name="attachments" type="xsd-comp:ArrayOf_HWFile" />
		<wsdl:part name="variables" type="xsd-comp:ArrayOf_HWProcessVariable" />
	</wsdl:message>
	<wsdl:message name="createInstanceRequest2">
		<wsdl:part name="name" type="xsd:string" />
		<wsdl:part name="description" type="xsd:string" />
		<wsdl:part name="isUrgent" type="xsd:boolean" />
		<wsdl:part name="isStartProcess" type="xsd:boolean" />
		<wsdl:part name="needWorkitem" type="xsd:boolean" />
		<wsdl:part name="instanceFolderID" type="xsd:int" />
		<wsdl:part name="archiveFolderID" type="xsd:int" />
		<wsdl:part name="customID" type="xsd:string" />
		<wsdl:part name="startActivityName" type="xsd:string" />
		<wsdl:part name="attachments" type="xsd-comp:ArrayOf_HWFile" />
		<wsdl:part name="variables" type="xsd-comp:ArrayOf_HWProcessVariable" />
	</wsdl:message>
	<wsdl:message name="getProcessArchiveCountResponse">
		<wsdl:part name="getProcessArchiveCountReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="createInstanceRequest3">
		<wsdl:part name="name" type="xsd:string" />
		<wsdl:part name="isUrgent" type="xsd:boolean" />
		<wsdl:part name="instanceFolderID" type="xsd:int" />
		<wsdl:part name="archiveFolderID" type="xsd:int" />
		<wsdl:part name="description" type="xsd:string" />
		<wsdl:part name="needWorkitem" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="getCustomAttributeDefinitionsRequest">
		<wsdl:part name="name" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getDependencyListResponse">
		<wsdl:part name="getDependencyListReturn" type="xsd-comp:ArrayOf_HWDependencyItem" />
	</wsdl:message>
	<wsdl:message name="getProcessArchiveCountRequest">
	</wsdl:message>
	<wsdl:message name="getProcessInstancesRequest1">
	</wsdl:message>
	<wsdl:message name="getProcessInstancesResponse">
		<wsdl:part name="getProcessInstancesReturn" type="xsd-comp:ArrayOf_HWProcess" />
	</wsdl:message>
	<wsdl:message name="createInstanceResponse">
		<wsdl:part name="createInstanceReturn" type="xsd-elmt:HWWorkitem" />
	</wsdl:message>
	<wsdl:message name="getProcessArchivesRequest">
	</wsdl:message>
	<wsdl:message name="getCustomAttributeDefinitionsResponse">
		<wsdl:part name="getCustomAttributeDefinitionsReturn" type="xsd-comp:ArrayOf_HWCustomAttributeDefinition" />
	</wsdl:message>
	<wsdl:message name="createInstanceRequest">
		<wsdl:part name="name" type="xsd:string" />
		<wsdl:part name="description" type="xsd:string" />
		<wsdl:part name="isUrgent" type="xsd:boolean" />
		<wsdl:part name="isStartProcess" type="xsd:boolean" />
		<wsdl:part name="needWorkitem" type="xsd:boolean" />
		<wsdl:part name="instanceFolderID" type="xsd:int" />
		<wsdl:part name="archiveFolderID" type="xsd:int" />
		<wsdl:part name="customID" type="xsd:string" />
		<wsdl:part name="attachments" type="xsd-comp:ArrayOf_HWFile" />
		<wsdl:part name="variables" type="xsd-comp:ArrayOf_HWProcessVariable" />
	</wsdl:message>
	<wsdl:message name="copyResponse">
	</wsdl:message>
	<wsdl:message name="HWException">
		<wsdl:part element="xsd-jo:HWException" name="fault" />
	</wsdl:message>
	<wsdl:message name="getProcessArchivesResponse">
		<wsdl:part name="getProcessArchivesReturn" type="xsd-comp:ArrayOf_HWProcess" />
	</wsdl:message>
	<wsdl:message name="getProcessInstancesRequest">
		<wsdl:part name="startIndex" type="xsd:int" />
		<wsdl:part name="size" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="isPublishedRequest">
	</wsdl:message>
	<wsdl:message name="getProcessInstanceCountResponse">
		<wsdl:part name="getProcessInstanceCountReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="resumeResponse">
	</wsdl:message>
	<wsdl:message name="getProcessArchivesRequest1">
		<wsdl:part name="startIndex" type="xsd:int" />
		<wsdl:part name="size" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getDependencyListRequest">
	</wsdl:message>
	<wsdl:message name="suspendRequest">
	</wsdl:message>
	<wsdl:message name="moveRequest">
		<wsdl:part name="targetFolderID" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getProcessDefinitionResponse">
		<wsdl:part name="getProcessDefinitionReturn" type="xsd-elmt:HWProcessDefinition" />
	</wsdl:message>
	<wsdl:message name="getCustomAttributeDefinitionsRequest1">
	</wsdl:message>
	<wsdl:message name="isPublishedResponse">
		<wsdl:part name="isPublishedReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="getProcessVariablesRequest">
	</wsdl:message>
	<wsdl:message name="setPublicationStateRequest">
		<wsdl:part name="state" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getCustomAttributeDefinitionsResponse1">
		<wsdl:part name="getCustomAttributeDefinitionsReturn" type="xsd-comp:ArrayOf_HWCustomAttributeDefinition" />
	</wsdl:message>
	<wsdl:portType name="HWProcessDefinition">
		<wsdl:operation name="resume">
			<wsdl:input message="impl:resumeRequest" name="resumeRequest" />
			<wsdl:output message="impl:resumeResponse" name="resumeResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="suspend">
			<wsdl:input message="impl:suspendRequest" name="suspendRequest" />
			<wsdl:output message="impl:suspendResponse" name="suspendResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="copy" parameterOrder="targetFolderID">
			<wsdl:input message="impl:copyRequest" name="copyRequest" />
			<wsdl:output message="impl:copyResponse" name="copyResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getDependencyList">
			<wsdl:input message="impl:getDependencyListRequest" name="getDependencyListRequest" />
			<wsdl:output message="impl:getDependencyListResponse" name="getDependencyListResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessVariables">
			<wsdl:input message="impl:getProcessVariablesRequest" name="getProcessVariablesRequest" />
			<wsdl:output message="impl:getProcessVariablesResponse" name="getProcessVariablesResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="createInstance" parameterOrder="name description isUrgent isStartProcess needWorkitem instanceFolderID archiveFolderID customID attachments variables">
			<wsdl:input message="impl:createInstanceRequest" name="createInstanceRequest" />
			<wsdl:output message="impl:createInstanceResponse" name="createInstanceResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="createInstance" parameterOrder="name description isUrgent isStartProcess needWorkitem instanceFolderID archiveFolderID attachments variables">
			<wsdl:input message="impl:createInstanceRequest1" name="createInstanceRequest1" />
			<wsdl:output message="impl:createInstanceResponse" name="createInstanceResponse1" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="createInstance" parameterOrder="name description isUrgent isStartProcess needWorkitem instanceFolderID archiveFolderID customID startActivityName attachments variables">
			<wsdl:input message="impl:createInstanceRequest2" name="createInstanceRequest2" />
			<wsdl:output message="impl:createInstanceResponse" name="createInstanceResponse2" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="createInstance" parameterOrder="name isUrgent instanceFolderID archiveFolderID description needWorkitem">
			<wsdl:input message="impl:createInstanceRequest3" name="createInstanceRequest3" />
			<wsdl:output message="impl:createInstanceResponse" name="createInstanceResponse3" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessDefinition">
			<wsdl:input message="impl:getProcessDefinitionRequest" name="getProcessDefinitionRequest" />
			<wsdl:output message="impl:getProcessDefinitionResponse" name="getProcessDefinitionResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="setPublicationState" parameterOrder="state">
			<wsdl:input message="impl:setPublicationStateRequest" name="setPublicationStateRequest" />
			<wsdl:output message="impl:setPublicationStateResponse" name="setPublicationStateResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getCustomAttributeDefinitions" parameterOrder="name">
			<wsdl:input message="impl:getCustomAttributeDefinitionsRequest" name="getCustomAttributeDefinitionsRequest" />
			<wsdl:output message="impl:getCustomAttributeDefinitionsResponse" name="getCustomAttributeDefinitionsResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getCustomAttributeDefinitions">
			<wsdl:input message="impl:getCustomAttributeDefinitionsRequest1" name="getCustomAttributeDefinitionsRequest1" />
			<wsdl:output message="impl:getCustomAttributeDefinitionsResponse1" name="getCustomAttributeDefinitionsResponse1" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessInstances" parameterOrder="startIndex size">
			<wsdl:input message="impl:getProcessInstancesRequest" name="getProcessInstancesRequest" />
			<wsdl:output message="impl:getProcessInstancesResponse" name="getProcessInstancesResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessInstances">
			<wsdl:input message="impl:getProcessInstancesRequest1" name="getProcessInstancesRequest1" />
			<wsdl:output message="impl:getProcessInstancesResponse" name="getProcessInstancesResponse1" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessInstanceCount">
			<wsdl:input message="impl:getProcessInstanceCountRequest" name="getProcessInstanceCountRequest" />
			<wsdl:output message="impl:getProcessInstanceCountResponse" name="getProcessInstanceCountResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessArchives">
			<wsdl:input message="impl:getProcessArchivesRequest" name="getProcessArchivesRequest" />
			<wsdl:output message="impl:getProcessArchivesResponse" name="getProcessArchivesResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessArchives" parameterOrder="startIndex size">
			<wsdl:input message="impl:getProcessArchivesRequest1" name="getProcessArchivesRequest1" />
			<wsdl:output message="impl:getProcessArchivesResponse" name="getProcessArchivesResponse1" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getProcessArchiveCount">
			<wsdl:input message="impl:getProcessArchiveCountRequest" name="getProcessArchiveCountRequest" />
			<wsdl:output message="impl:getProcessArchiveCountResponse" name="getProcessArchiveCountResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="move" parameterOrder="targetFolderID">
			<wsdl:input message="impl:moveRequest" name="moveRequest" />
			<wsdl:output message="impl:moveResponse" name="moveResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="isPublished">
			<wsdl:input message="impl:isPublishedRequest" name="isPublishedRequest" />
			<wsdl:output message="impl:isPublishedResponse" name="isPublishedResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HWProcessDefinitionService" type="impl:HWProcessDefinition">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="resume">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="resumeRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="resumeResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="suspend">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="suspendRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="suspendResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="copy">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="copyRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="copyResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDependencyList">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getDependencyListRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getDependencyListResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessVariables">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessVariablesRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessVariablesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createInstance">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="createInstanceRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="createInstanceResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createInstance">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="createInstanceRequest1">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="createInstanceResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createInstance">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="createInstanceRequest2">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="createInstanceResponse2">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="createInstance">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="createInstanceRequest3">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="createInstanceResponse3">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessDefinition">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessDefinitionRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessDefinitionResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="setPublicationState">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="setPublicationStateRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="setPublicationStateResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCustomAttributeDefinitions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getCustomAttributeDefinitionsRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getCustomAttributeDefinitionsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getCustomAttributeDefinitions">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getCustomAttributeDefinitionsRequest1">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getCustomAttributeDefinitionsResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessInstances">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessInstancesRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessInstancesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessInstances">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessInstancesRequest1">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessInstancesResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessInstanceCount">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessInstanceCountRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessInstanceCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessArchives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessArchivesRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessArchivesResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessArchives">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessArchivesRequest1">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessArchivesResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessArchiveCount">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getProcessArchiveCountRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getProcessArchiveCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="move">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="moveRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="moveResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="isPublished">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="isPublishedRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWProcessDefinitionServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="isPublishedResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWProcessDefinition" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
