ui/wm-project/cms_erlr_general_export/CMS/xsd_pool/HWUserBinding.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://handysoft.com/webservice/HWUser" xmlns:impl="http://handysoft.com/webservice/HWUser" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://handysoft.com/webservice/ServiceConstructor" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd-comp="http://handysoft.com/webservice/BizFlowSchema" xmlns:xsd-elmt="http://element.je.wf.bf.hs.com" xmlns:xsd-jo="http://jo.wf.bf.hs.com">
	<wsdl:import location="BizFlowSchema-comp.xsd" namespace="http://handysoft.com/webservice/BizFlowSchema" />
	<wsdl:import location="BizFlowSchema-jo.xsd" namespace="http://jo.wf.bf.hs.com" />
	<wsdl:import location="BizFlowSchema-je.xsd" namespace="http://je.wf.bf.hs.com" />
	<wsdl:import location="BizFlowSchema-elmt.xsd" namespace="http://element.je.wf.bf.hs.com" />
	<wsdl:types>
		<schema targetNamespace="http://handysoft.com/webservice/ServiceConstructor" xmlns="http://www.w3.org/2001/XMLSchema">
			<complexType name="HWUserServiceConstructor">
				<sequence>
					<element name="sessionInfoXML" type="xsd:string" />
					<element name="serverId" type="xsd:string" />
					<element name="userId" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="HWUserServiceConstructor">
		<wsdl:part name="serviceConstructor" type="tns:HWUserServiceConstructor" />
	</wsdl:message>
	<wsdl:message name="getDMSSOInfosResponse">
		<wsdl:part name="getDMSSOInfosReturn" type="xsd-comp:ArrayOf_HWUserSSO" />
	</wsdl:message>
	<wsdl:message name="getUserGroupsRequest">
	</wsdl:message>
	<wsdl:message name="getSignsResponse">
		<wsdl:part name="getSignsReturn" type="xsd-comp:ArrayOf_HWUserSign" />
	</wsdl:message>
	<wsdl:message name="getWorkitemCountRequest">
	</wsdl:message>
	<wsdl:message name="getDMSSOInfosRequest">
	</wsdl:message>
	<wsdl:message name="checkPasswordRequest">
		<wsdl:part name="value" type="xsd:string" />
	</wsdl:message>
	<wsdl:message name="getWorkitemsResponse">
		<wsdl:part name="getWorkitemsReturn" type="xsd-comp:ArrayOf_HWWorkitem" />
	</wsdl:message>
	<wsdl:message name="getWorkitemCountResponse">
		<wsdl:part name="getWorkitemCountReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getFunctionAuthorityRequest">
		<wsdl:part name="authorityFunctionID" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getSignsRequest">
	</wsdl:message>
	<wsdl:message name="getAuthorityGroupPaticipantsRequest">
	</wsdl:message>
	<wsdl:message name="checkPasswordResponse">
		<wsdl:part name="checkPasswordReturn" type="xsd:boolean" />
	</wsdl:message>
	<wsdl:message name="HWException">
		<wsdl:part element="xsd-jo:HWException" name="fault" />
	</wsdl:message>
	<wsdl:message name="updateResponse">
	</wsdl:message>
	<wsdl:message name="getAuthorityGroupsResponse">
		<wsdl:part name="getAuthorityGroupsReturn" type="xsd-comp:ArrayOf_HWAuthorityGroup" />
	</wsdl:message>
	<wsdl:message name="updateRequest">
		<wsdl:part name="user" type="xsd-elmt:HWUser" />
		<wsdl:part name="authorityGroups" type="xsd-comp:ArrayOf_HWAuthorityGroup" />
		<wsdl:part name="licenseType" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getDelegatorResponse">
		<wsdl:part name="getDelegatorReturn" type="xsd-elmt:HWUser" />
	</wsdl:message>
	<wsdl:message name="getOrgUnitResponse">
		<wsdl:part name="getOrgUnitReturn" type="xsd-elmt:HWOrgUnit" />
	</wsdl:message>
	<wsdl:message name="getUserResponse">
		<wsdl:part name="getUserReturn" type="xsd-elmt:HWUser" />
	</wsdl:message>
	<wsdl:message name="getAuthorityGroupPaticipantsResponse">
		<wsdl:part name="getAuthorityGroupPaticipantsReturn" type="xsd-comp:ArrayOf_HWGroupParticipant" />
	</wsdl:message>
	<wsdl:message name="getUserRequest">
	</wsdl:message>
	<wsdl:message name="getWorkitemsRequest">
		<wsdl:part name="startIndex" type="xsd:int" />
		<wsdl:part name="size" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getWorkitemsRequest1">
	</wsdl:message>
	<wsdl:message name="getFunctionAuthorityResponse">
		<wsdl:part name="getFunctionAuthorityReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="updateRequest1">
		<wsdl:part name="user" type="xsd-elmt:HWUser" />
	</wsdl:message>
	<wsdl:message name="getLicenseTypeRequest">
	</wsdl:message>
	<wsdl:message name="updateSSOResponse">
	</wsdl:message>
	<wsdl:message name="getOrgUnitRequest">
	</wsdl:message>
	<wsdl:message name="getDelegatorRequest">
	</wsdl:message>
	<wsdl:message name="updateSSORequest">
		<wsdl:part name="userSSOs" type="xsd-comp:ArrayOf_HWUserSSO" />
	</wsdl:message>
	<wsdl:message name="getUserGroupsResponse">
		<wsdl:part name="getUserGroupsReturn" type="xsd-comp:ArrayOf_HWUserGroup" />
	</wsdl:message>
	<wsdl:message name="getLicenseTypeResponse">
		<wsdl:part name="getLicenseTypeReturn" type="xsd:int" />
	</wsdl:message>
	<wsdl:message name="getAuthorityGroupsRequest">
	</wsdl:message>
	<wsdl:portType name="HWUser">
		<wsdl:operation name="update" parameterOrder="user authorityGroups licenseType">
			<wsdl:input message="impl:updateRequest" name="updateRequest" />
			<wsdl:output message="impl:updateResponse" name="updateResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="update" parameterOrder="user">
			<wsdl:input message="impl:updateRequest1" name="updateRequest1" />
			<wsdl:output message="impl:updateResponse" name="updateResponse1" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getWorkitems" parameterOrder="startIndex size">
			<wsdl:input message="impl:getWorkitemsRequest" name="getWorkitemsRequest" />
			<wsdl:output message="impl:getWorkitemsResponse" name="getWorkitemsResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getWorkitems">
			<wsdl:input message="impl:getWorkitemsRequest1" name="getWorkitemsRequest1" />
			<wsdl:output message="impl:getWorkitemsResponse" name="getWorkitemsResponse1" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getWorkitemCount">
			<wsdl:input message="impl:getWorkitemCountRequest" name="getWorkitemCountRequest" />
			<wsdl:output message="impl:getWorkitemCountResponse" name="getWorkitemCountResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="updateSSO" parameterOrder="userSSOs">
			<wsdl:input message="impl:updateSSORequest" name="updateSSORequest" />
			<wsdl:output message="impl:updateSSOResponse" name="updateSSOResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getUserGroups">
			<wsdl:input message="impl:getUserGroupsRequest" name="getUserGroupsRequest" />
			<wsdl:output message="impl:getUserGroupsResponse" name="getUserGroupsResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getAuthorityGroups">
			<wsdl:input message="impl:getAuthorityGroupsRequest" name="getAuthorityGroupsRequest" />
			<wsdl:output message="impl:getAuthorityGroupsResponse" name="getAuthorityGroupsResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<wsdl:input message="impl:getUserRequest" name="getUserRequest" />
			<wsdl:output message="impl:getUserResponse" name="getUserResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getSigns">
			<wsdl:input message="impl:getSignsRequest" name="getSignsRequest" />
			<wsdl:output message="impl:getSignsResponse" name="getSignsResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getAuthorityGroupPaticipants">
			<wsdl:input message="impl:getAuthorityGroupPaticipantsRequest" name="getAuthorityGroupPaticipantsRequest" />
			<wsdl:output message="impl:getAuthorityGroupPaticipantsResponse" name="getAuthorityGroupPaticipantsResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getDelegator">
			<wsdl:input message="impl:getDelegatorRequest" name="getDelegatorRequest" />
			<wsdl:output message="impl:getDelegatorResponse" name="getDelegatorResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getOrgUnit">
			<wsdl:input message="impl:getOrgUnitRequest" name="getOrgUnitRequest" />
			<wsdl:output message="impl:getOrgUnitResponse" name="getOrgUnitResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getLicenseType">
			<wsdl:input message="impl:getLicenseTypeRequest" name="getLicenseTypeRequest" />
			<wsdl:output message="impl:getLicenseTypeResponse" name="getLicenseTypeResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="checkPassword" parameterOrder="value">
			<wsdl:input message="impl:checkPasswordRequest" name="checkPasswordRequest" />
			<wsdl:output message="impl:checkPasswordResponse" name="checkPasswordResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getDMSSOInfos">
			<wsdl:input message="impl:getDMSSOInfosRequest" name="getDMSSOInfosRequest" />
			<wsdl:output message="impl:getDMSSOInfosResponse" name="getDMSSOInfosResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
		<wsdl:operation name="getFunctionAuthority" parameterOrder="authorityFunctionID">
			<wsdl:input message="impl:getFunctionAuthorityRequest" name="getFunctionAuthorityRequest" />
			<wsdl:output message="impl:getFunctionAuthorityResponse" name="getFunctionAuthorityResponse" />
			<wsdl:fault message="impl:HWException" name="HWException" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HWUserService" type="impl:HWUser">
		<wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="update">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="updateRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="updateResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="update">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="updateRequest1">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="updateResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getWorkitems">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getWorkitemsRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getWorkitemsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getWorkitems">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getWorkitemsRequest1">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getWorkitemsResponse1">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getWorkitemCount">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getWorkitemCountRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getWorkitemCountResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="updateSSO">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="updateSSORequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="updateSSOResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUserGroups">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getUserGroupsRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getUserGroupsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAuthorityGroups">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getAuthorityGroupsRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getAuthorityGroupsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getUser">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getUserRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getUserResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getSigns">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getSignsRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getSignsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getAuthorityGroupPaticipants">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getAuthorityGroupPaticipantsRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getAuthorityGroupPaticipantsResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDelegator">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getDelegatorRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getDelegatorResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getOrgUnit">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getOrgUnitRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getOrgUnitResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getLicenseType">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getLicenseTypeRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getLicenseTypeResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="checkPassword">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="checkPasswordRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="checkPasswordResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getDMSSOInfos">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getDMSSOInfosRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getDMSSOInfosResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getFunctionAuthority">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="getFunctionAuthorityRequest">
				<wsdlsoap:header encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" message="impl:HWUserServiceConstructor" namespace="http://handysoft.com/webservice/ServiceConstructor" part="serviceConstructor" use="encoded" wsdl:required="true" />
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:input>
			<wsdl:output name="getFunctionAuthorityResponse">
				<wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://service.je.wf.bf.hs.com" use="encoded" />
			</wsdl:output>
			<wsdl:fault name="HWException">
				<wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="HWException" namespace="http://handysoft.com/webservice/HWUser" use="encoded" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>
